# .NET / C# ignores
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Databases
app.db
*.db
*.db-shm
*.db-wal

# OS / Tool ignores
.DS_Store
.vs/
.idea/
.vscode/
.dotnet/
.dotnet_home/
.nuget/

# Output / Build artifacts (avoid committing large binaries to git)
*.exe
*.dll
*.pdb
*.config
*.json.endpoints

